<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/log.css">
    <link href="assets/img/favicon.png" rel="icon">
</head>
<body>
    <div class="login-box">
        <div class="img-center">
        <img src="/images/enter.png" alt="login-user" height="70px" width="70px">  
        <h2 style="padding-left: 5%;">Signup</h2></div> 
        <form action="/signup" method="post" id="form-id"> 
        <div class="user-box">
            <input type="text" name="name" id="name" onkeyup="validateName()" required="">
            <label id="error-name">Username</label>
            
          </div>
          <div class="user-box">
            <input type="text" name="email" id="email" onkeyup="validateEmail()" required="">
            <label id="error-email">Email</label>
           
          </div>
          <div class="user-box">
            <input type="password" name="password" id="password" onkeyup="validatePassword()" required="">
            <label id="error-password">Password</label>
            
          </div> 
          
          <input id="sub" type="submit" value="Signup">
          <p style="color: rgb(176, 0, 0);"> <%= error %> </p>
          
        </form> 
        <p class="notUser">If you are not a user ? <a href="/login" style="color: #ffffff60" >Login</a> </p> 
      </div>
      <script src="/javascript/frontendvalidation.js"></script>
    <script>
  document.getElementById('form-id').addEventListener('submit', function(event) {
    let name = document.getElementById('name').value;
    let email = document.getElementById('email').value;
    let password = document.getElementById('password').value;

    // Calling validation functions when the form is submitted
    let isNameValid = validateName(name);
    let isEmailValid = validateEmail(email);
    let isPasswordValid = validatePassword(password);

    if (!(isNameValid && isEmailValid && isPasswordValid)) {
      event.preventDefault(); // Prevent form submission if any validation fails
    }
  });
 
    </script>

    </body>
    </html>
    







